##################################
## Auth user external browser ####
##################################
SNOWFLAKE_AUTHENTICATOR="externalbrowser"
SNOWFLAKE_USER="USER_EMAIL"
#################################

##################################
##### Auth Key Pair ##############
##################################
# SNOWFLAKE_AUTHENTICATOR="SNOWFLAKE_JWT"
# SNOWFLAKE_USER="USER"
# SNOWFLAKE_PRIVATE_KEY_FILE="file.pem"
# SNOWFLAKE_PRIVATE_KEY_FILE_PWD="passphrase"
##################################

##################################
##### Common conf ################
##################################
SNOWFLAKE_ACCOUNT=ACCOUNT
SNOWFLAKE_ROLE=ROLE
SNOWFLAKE_DATABASE=DATABASE
SNOWFLAKE_SCHEMA=SCHEMA
SNOWFLAKE_WAREHOUSE=WAREHOUSE
##################################
