logs/*
.env
.venv
.python-version
src/mcp_snowflake_server/__pycache__
**/.DS_Store
# dist
connections.toml
.vscode/
notebooks/
private_key*.txt
.dmypy.json
__pycache__/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/